<!doctype html>
<html lang="fr">
    {{>head}}
    <body>
        <div class="container">
       	  {{>header}}
   	     {{>nav}}
			  {{>autre}}
        </div>
  	     
  	     {{>main}}
		  {{{ body }}}
      	  
      	  
     	{{>footer}}
    </body>
</html>